<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960466728009-gmgnse8h43uci09bjvfg298ie6u5j3e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960466728009-gmgnse8h43uci09bjvfg298ie6u5j3e1</string>
	<key>API_KEY</key>
	<string>AIzaSyBVeFL9t-70PZZ1CenEBzr5WbNvLs2exnw</string>
	<key>GCM_SENDER_ID</key>
	<string>960466728009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatApp.www.https.TravelJobFinder</string>
	<key>PROJECT_ID</key>
	<string>traveljobfinder</string>
	<key>STORAGE_BUCKET</key>
	<string>traveljobfinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960466728009:ios:cb07da10d742854b7d7b98</string>
</dict>
</plist>